---
import MainLayout from "../../layouts/MainLayout.astro";
import { createCustomerBooking } from "../../lib/bookings";

const { tempBookingId } = Astro.params;

const confirmationCode = createCustomerBooking(tempBookingId!);
---

<MainLayout
  title="Yorkshire Inn - Booking"
  activePage="about"
  heroImgPath="/assets/Logo.png"
>
  <div class="flex flex-col items-center justify-center h-screen bg-gray-50">
    <div class="max-w-md w-full bg-white shadow-lg rounded-lg p-8">
      <h2 class="text-2xl font-bold mb-4">Booking Confirmed!</h2>
      <p class="text-gray-600 mb-4">
        Thank you for your booking. Your booking details are as follows:
      </p>
      <ul class="mb-4">
        <li>Confirmation Number: {confirmationCode}</li>
      </ul>
      <p class="text-gray-600 mb-4">
        If you need to cancel or reschedule your appointment, please contact us
        at least 24 hours in advance.
      </p>
      <!-- <a
        href="#/hom"
        class="bg-indigo-500 hover:bg-indigo-600 text-white font-bold py-2 px-4 rounded"
        >Back to Home</a
      > -->
    </div>
  </div>
</MainLayout>
