---
import MainLayout from "../layouts/MainLayout.astro";
import DateRangeSelector from "../components/organisms/dateRangeSelector";
---

<MainLayout title="Yorkshire Inn - Booking" activePage="booking">
  <section>
    <div class="text-black">
      <h2 class="text-2xl font-bold my-4 mx-8">
        Customer Information
      </h2>
      <p class="mx-8 my-4">
        Thank you for booking with us.  The personal data you enter below will be used for the sole purpose of managing your reservation(s) and to personalize our interactions with you. Your personal data will never be shared, transferred, or sold to third parties.
      </p>
    </div>
  </section>
</MainLayout>
