---
import MainLayout from "../layouts/MainLayout.astro";
//using the method from server
import { Chip } from "@mui/material";
import DateRangeSelector from "../components/organisms/dateRangeSelector";
import { getAllRooms } from "../lib/rooms";
// var x = await getAllRooms();
---

<style>
  :global(html, body) {
    scroll-behavior: smooth;
  }
</style>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>The Yorkshire Inn</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Martel&family=Playfair+Display:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <MainLayout title="Yorkshire Inn" activePage="home">
    <!-- Hero Section -->
    <section
      id="home"
      class="flex flex-col min-h-screen bg-slate-800 text-white bg-center bg-cover bg-blend-overlay bg-fixed bg-black/30"
      style="background-image: url('assets/bg.png')"
    >
      <!-- Hero Section Content -->
      <div class="flex-1 flex items-center">
        <div class="text-center mx-auto">
          <h1
            style="font-family:'Playfair Display', serif; font-size: 32pt; text-transform: uppercase; letter-spacing:0.13em"
          >
            The
          </h1>
          <h1
            style="font-family:'Playfair Display', serif; font-size: 64pt; letter-spacing:0.13em"
          >
            Yorkshire Inn
          </h1>
          <a
            class="px-5 py-2 inline-block bg-transparent outline outline-1 text-white hover:bg-gray-600 transition-colors mt-10 mx-px"
            href="/startBooking"
          >
            <p
              style="font-family: 'Martel', serif; font-weight: 400; font-size: 20px; line-height:34px; letter-spacing: 0.13em;"
            >
              Stay With Us
            </p>
            <p
              style="font-family: 'Inter', sans-serif; font-weight: 700; font-size: 10px; letter-spacing: 0.205em; text-transform: uppercase;"
            >
              Book Now
            </p>
          </a>
        </div>
      </div>
    </section>
    <!-- Amenities Section -->
    <section
      id="amenities"
      class="flex flex-col bg-[#F4F7FA] min-h-screen text-black justify-items-center"
    >
      <div
        class="flex-1 flex items-center mx-auto w-[70%] md:w-[75%] sm:w-[100%]"
      >
        <div style="display: grid; grid-template-columns: 1fr;" class="mx-10">
          <div style="grid-row-start: 1; grid-column-start: 1;">
            <img src="assets/barroom 1.png" alt="Picture of Bar Room" />
          </div>
          <div
            style="grid-row-start: 1; grid-column-start: 1;"
            class="mt-44 ml-60"
          >
            <img src="assets/food 1.png" alt="Picture of Food" />
          </div>
        </div>
        <div class="flex-1 flex items-center px-1 py-2 flex-col">
          <h2
            class="p-1 m-1"
            style="font-family: 'Playfair Display', serif; font-weight: 600; font-size: 25px; letter-spacing: 0.035em;"
          >
            A freshly cooked farm to table breakfast served <span
              style="color: #0068A5">every morning</span
            >
          </h2>
          <p
            class="p-1 m-1"
            style="font-family: 'Playfair Display', serif; font-weight: 500; font-size: 17px; line-height:129%; letter-spacing: 0.035em;"
          >
            We use locally sourced and organic produce, eggs and meat when they
            are available. If you let us know of any special dietary requests
            upfront we will be more than happy to accommodate.
          </p>
          <p
            class="p-1 m-1"
            style="font-family: 'Playfair Display', serif; font-weight: 500; font-size: 17px; line-height:129%; letter-spacing: 0.035em;"
          >
            There is freshly brewed coffee and tea available first thing in the
            morning, and we have Keurig coffee machines available throughout the
            day. We are trying to be kind to the environment and compost with
            Impact Earth (www.impactearthroc.com)
          </p>
        </div>
      </div>
      <div class="flex-1 items-center mx-auto">
        <h2
          style="font-family: 'Playfair Display', serif; font-size:25px; font-weight: 500; letter-spacing: 0.035em;"
        >
          Amenities for those staying with us
        </h2>
        <div class="text-center justify-center">
          <div class="px-2 py-2 flex mb-4">
            <div class="w-1/2">
              <img class="mx-auto" src="assets/image 6.png" />
              <p>Central Heating/AC</p>
            </div>
            <div class="w-1/2">
              <img class="mx-auto" src="assets/image 7.png" />
              <p>Free WiFi</p>
            </div>
          </div>
          <div class="flex mb-4">
            <div class="w-1/2">
              <img class="mx-auto" src="assets/image 8.png" />
              <p>Daily Coffee & Tea</p>
            </div>
            <div class="w-1/2">
              <img class="mx-auto" src="assets/image 9.png" />
              <p>Cable TV</p>
            </div>
          </div>
          <div class="flex mb-4">
            <div class="w-full">
              <img class="mx-auto" src="assets/image 10.png" />
              <p>Low Waste Toiletries</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Break Section -->
    <section
      class="hidden md:flex flex-col min-h-[45vh] bg-slate-800 text-white bg-center bg-cover bg-blend-overlay bg-fixed bg-black/30"
      style="background-image: url('assets/bg.png')"
    >
      <!-- Break Section Content -->
      <div class="flex-1 flex items-center">
        <div class="text-center mx-auto">
          <h1
            style="font-family:'Playfair Display', serif; font-size: 32pt; text-transform: uppercase; letter-spacing:0.13em"
          >
            Welcome to Your Home Away From Home at
          </h1>
          <h1
            style="font-family:'Playfair Display', serif; font-size: 64pt; letter-spacing:0.13em"
          >
            The Yorkshire Inn!
          </h1>
          <a
            class="px-5 py-2 inline-block bg-transparent outline outline-1 text-white hover:bg-gray-600 transition-colors mt-10 mx-px"
            href="/startBooking"
          >
            <p
              style="font-family: 'Martel', serif; font-weight: 400; font-size: 20px; line-height:34px; letter-spacing: 0.13em;"
            >
              Stay With Us
            </p>
            <p
              style="font-family: 'Inter', sans-serif; font-weight: 700; font-size: 10px; letter-spacing: 0.205em; text-transform: uppercase;"
            >
              Book Now
            </p>
          </a>
        </div>
      </div>
    </section>
    <!-- Room Section -->
    <section></section>
    <!-- Gallery Section -->
    <section
      id="gallery"
      class="bg-[#F4F7FA] min-h-screen text-black justify-items-center text-center"
    >
      <div class="container lg:px-32 px-4 py-8 mx-auto items-center">
        <h2
          class="py-12"
          style="font-family: 'Playfair Display', serif; font-size:32px; font-weight: 500; letter-spacing: 0.035em;"
        >
          Gallery
        </h2>
        <div class="grid grid-cols-4 grid-rows-4 grid-flow-col gap-4">
          <div class="w-full row-span-2">
            <img
              src="assets/Gallery/mainhall.png"
              alt="Photo of Inn's Main Hall"
              class="inset-0 h-full w-full object-cover object-center rounded opacity-75 hover:opacity-100"
            />
          </div>
          <div class="w-full col-span-2 row-span-2">
            <img
              src="assets/Gallery/yorkshirebanner.png"
              alt="Photo of Yorkshire Inn"
              class="inset-0 h-full w-full object-cover object-center rounded opacity-75 hover:opacity-100"
            />
          </div>
          <div class="w-full">
            <img
              src="assets/Gallery/bar.png"
              alt="Photo of the Inn's Bar"
              class="inset-0 h-full w-full object-cover object-center rounded opacity-75 hover:opacity-100"
            />
          </div>
          <div class="w-full">
            <img
              src="assets/Gallery/lodge.png"
              alt="Photo of Lodge Room"
              class="inset-0 h-full w-full object-cover object-center rounded opacity-75 hover:opacity-100"
            />
          </div>
          <div class="w-full col-span-2 row-span-2">
            <img
              src="assets/Gallery/blueroom.png"
              alt="Photo of Blueroom"
              class="inset-0 h-full w-full object-cover object-center rounded opacity-75 hover:opacity-100"
            />
          </div>

          <div class="w-full col-span-2">
            <img
              src="assets/Gallery/bolero.png"
              alt="Photo of Bolero Room"
              class="inset-0 h-full w-full object-cover object-center rounded opacity-75 hover:opacity-100"
            />
          </div>
          <div class="w-full">
            <img
              src="assets/Gallery/mainliving2.png"
              alt="Photo of Main Living Room"
              class="inset-0 h-full w-full object-cover object-center rounded opacity-75 hover:opacity-100"
            />
          </div>
          <div class="w-full">
            <img
              src="assets/Gallery/mainliving.png"
              alt="Photo of Main Living Room"
              class="inset-0 h-full w-full object-cover object-center rounded opacity-75 hover:opacity-100"
            />
          </div>
        </div>
      </div>
    </section>
    <!-- Contact Section -->
    <section
      id="contact"
      class="mb-32 text-gray-800 flex flex-col bg-[#F4F7FA]"
    >
      <style>
        .map-container-2 {
          height: 500px;
        }
      </style>
      <div class="block rounded-lg lg:px-32 px-4 py-8 mx-auto">
        <div class="flex flex-wrap items-center">
          <div
            class="grow-0 shrink-0 basis-auto block w-full lg:flex lg:w-6/12 xl:w-4/12"
          >
            <div class="map-container-2 w-full">
              <iframe
                src="https://maps.google.com/maps?q=The+Yorkshire+Inn,+New+York+96,+Phelps,+NY,+USA&t=&z=13&ie=UTF8&iwloc=&output=embed"
                class="left-0 top-0 h-full w-full rounded-t-lg lg:rounded-tr-none lg:rounded-bl-lg"
                frameborder="0"
                allowfullscreen></iframe>
            </div>
          </div>
          <div class="grow-0 shrink-0 basis-auto w-full lg:w-6/12 xl:w-8/12">
            <h2
              class="text-center py-12"
              style="font-family: 'Playfair Display', serif; font-size:32px; font-weight: 500; letter-spacing: 0.035em;"
            >
              Contact Us
            </h2>
            <div class="flex flex-wrap pt-12 lg:pt-0">
              <div
                class="mb-12 grow-0 shrink-0 basis-auto w-full md:w-6/12 lg:w-full xl:w-6/12 px-3 md:px-6 xl:px-12"
              >
                <div class="flex items-start">
                  <div class="shrink-0">
                    <div
                      class="p-4 bg-[#36353A] rounded-md shadow-md w-14 h-14 flex items-center justify-center"
                    >
                      <svg
                        aria-hidden="true"
                        focusable="false"
                        data-prefix="fas"
                        data-icon="headset"
                        class="w-5 text-white"
                        role="img"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512"
                      >
                        <path
                          fill="currentColor"
                          d="M192 208c0-17.67-14.33-32-32-32h-16c-35.35 0-64 28.65-64 64v48c0 35.35 28.65 64 64 64h16c17.67 0 32-14.33 32-32V208zm176 144c35.35 0 64-28.65 64-64v-48c0-35.35-28.65-64-64-64h-16c-17.67 0-32 14.33-32 32v112c0 17.67 14.33 32 32 32h16zM256 0C113.18 0 4.58 118.83 0 256v16c0 8.84 7.16 16 16 16h16c8.84 0 16-7.16 16-16v-16c0-114.69 93.31-208 208-208s208 93.31 208 208h-.12c.08 2.43.12 165.72.12 165.72 0 23.35-18.93 42.28-42.28 42.28H320c0-26.51-21.49-48-48-48h-32c-26.51 0-48 21.49-48 48s21.49 48 48 48h181.72c49.86 0 90.28-40.42 90.28-90.28V256C507.42 118.83 398.82 0 256 0z"
                        >
                        </path>
                      </svg>
                    </div>
                  </div>
                  <div class="grow ml-6">
                    <p class="font-bold mb-1">E-Mail</p>
                    <p class="text-gray-500">innkeeper@theyorkshireinn.com</p>
                  </div>
                </div>
              </div>
              <div
                class="mb-12 grow-0 shrink-0 basis-auto w-full md:w-6/12 lg:w-full xl:w-6/12 px-3 md:px-6 xl:px-12"
              >
                <div class="flex items-start">
                  <div class="shrink-0">
                    <div
                      class="p-4 bg-[#36353A] rounded-md shadow-md w-14 h-14 flex items-center justify-center"
                    >
                      <svg
                        aria-hidden="true"
                        focusable="false"
                        data-prefix="fas"
                        data-icon="dollar-sign"
                        class="w-3 text-white"
                        role="img"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 288 512"
                      >
                        <path
                          fill="currentColor"
                          d="M209.2 233.4l-108-31.6C88.7 198.2 80 186.5 80 173.5c0-16.3 13.2-29.5 29.5-29.5h66.3c12.2 0 24.2 3.7 34.2 10.5 6.1 4.1 14.3 3.1 19.5-2l34.8-34c7.1-6.9 6.1-18.4-1.8-24.5C238 74.8 207.4 64.1 176 64V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48h-2.5C45.8 64-5.4 118.7.5 183.6c4.2 46.1 39.4 83.6 83.8 96.6l102.5 30c12.5 3.7 21.2 15.3 21.2 28.3 0 16.3-13.2 29.5-29.5 29.5h-66.3C100 368 88 364.3 78 357.5c-6.1-4.1-14.3-3.1-19.5 2l-34.8 34c-7.1 6.9-6.1 18.4 1.8 24.5 24.5 19.2 55.1 29.9 86.5 30v48c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16v-48.2c46.6-.9 90.3-28.6 105.7-72.7 21.5-61.6-14.6-124.8-72.5-141.7z"
                        >
                        </path>
                      </svg>
                    </div>
                  </div>
                  <div class="grow ml-6">
                    <p class="font-bold mb-1">Phone Number</p>
                    <p class="text-gray-500">+1 (315) 548-9675)</p>
                  </div>
                </div>
              </div>
              <div
                class="mb-12 grow-0 shrink-0 basis-auto w-full md:w-6/12 lg:w-full xl:w-6/12 px-3 md:px-6 xl:px-12"
              >
                <div class="flex align-start">
                  <div class="shrink-0">
                    <div
                      class="p-4 bg-[#36353A] rounded-md shadow-md w-14 h-14 flex items-center justify-center"
                    >
                      <svg
                        aria-hidden="true"
                        focusable="false"
                        data-prefix="fas"
                        data-icon="newspaper"
                        class="w-5 text-white"
                        role="img"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 576 512"
                      >
                        <path
                          fill="currentColor"
                          d="M552 64H88c-13.255 0-24 10.745-24 24v8H24c-13.255 0-24 10.745-24 24v272c0 30.928 25.072 56 56 56h472c26.51 0 48-21.49 48-48V88c0-13.255-10.745-24-24-24zM56 400a8 8 0 0 1-8-8V144h16v248a8 8 0 0 1-8 8zm236-16H140c-6.627 0-12-5.373-12-12v-8c0-6.627 5.373-12 12-12h152c6.627 0 12 5.373 12 12v8c0 6.627-5.373 12-12 12zm208 0H348c-6.627 0-12-5.373-12-12v-8c0-6.627 5.373-12 12-12h152c6.627 0 12 5.373 12 12v8c0 6.627-5.373 12-12 12zm-208-96H140c-6.627 0-12-5.373-12-12v-8c0-6.627 5.373-12 12-12h152c6.627 0 12 5.373 12 12v8c0 6.627-5.373 12-12 12zm208 0H348c-6.627 0-12-5.373-12-12v-8c0-6.627 5.373-12 12-12h152c6.627 0 12 5.373 12 12v8c0 6.627-5.373 12-12 12zm0-96H140c-6.627 0-12-5.373-12-12v-40c0-6.627 5.373-12 12-12h360c6.627 0 12 5.373 12 12v40c0 6.627-5.373 12-12 12z"
                        >
                        </path>
                      </svg>
                    </div>
                  </div>
                  <div class="grow ml-6">
                    <p class="font-bold mb-1">Address</p>
                    <p class="text-gray-500">
                      1135 New York Highway 96, Phelps, New York 14532, United
                      States
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </MainLayout>
</html>
