---
import MainLayout from "../layouts/MainLayout.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>The Yorkshire Inn</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Martel&family=Playfair+Display:wght@400;500;600&display=swap" rel="stylesheet">
	</head>
  <MainLayout title="Yorkshire Inn" activePage="home">
  <!-- Hero Section -->
  <section class="flex flex-col min-h-screen bg-slate-800 text-white bg-center bg-cover bg-blend-overlay bg-fixed bg-black/30" style="background-image: url('assets/bg.png')">

    <!-- Hero Section Content -->
    <div class="flex-1 flex items-center">
      <div class="text-center mx-auto">
        <h1 style="font-family:'Playfair Display', serif; font-size: 32pt; text-transform: uppercase; letter-spacing:0.13em">The</h1>
        <h1 style="font-family:'Playfair Display', serif; font-size: 64pt; letter-spacing:0.13em">Yorkshire Inn</h1>
        <a class="px-5 py-2 inline-block bg-transparent outline outline-1 text-white hover:bg-gray-600 transition-colors mt-10 mx-px" href="">
          <p style="font-family: 'Martel', serif; font-weight: 400; font-size: 20px; line-height:34px; letter-spacing: 0.13em;">Stay With Us</p>
          <p style="font-family: 'Inter', sans-serif; font-weight: 700; font-size: 10px; letter-spacing: 0.205em; text-transform: uppercase;">Book Now</p>
        </a>
      </div>
    </div>
  </section>
  <!-- Amenities Section -->
  <section class="flex flex-col bg-[#F4F7FA] min-h-screen text-black justify-items-center">
    <div class="flex-1 flex items-center mx-auto w-[70%] md:w-[75%] sm:w-[100%]">
      <div style="display: grid; grid-template-columns: 1fr;" class="mx-10">
        <div style="grid-row-start: 1; grid-column-start: 1;">
          <img src="assets/barroom 1.png" alt="Picture of Bar Room">
        </div>
        <div style="grid-row-start: 1; grid-column-start: 1;" class="mt-44 ml-60">
          <img src="assets/food 1.png" alt="Picture of Food">
        </div>
        </div>
      <div class="flex-1 flex items-center px-1 py-2 flex-col">
        <h2 class="p-1 m-1" style="font-family: 'Playfair Display', serif; font-weight: 600; font-size: 25px; letter-spacing: 0.035em;">A freshly cooked farm to table breakfast served <span style="color: #0068A5">every morning</span></h2>
        <p class="p-1 m-1" style="font-family: 'Playfair Display', serif; font-weight: 500; font-size: 17px; line-height:129%; letter-spacing: 0.035em;">We use locally sourced and organic produce, eggs and meat when they are available. If you let us know of any special dietary requests upfront we will be more than happy to accommodate.</p>
        <p class="p-1 m-1" style="font-family: 'Playfair Display', serif; font-weight: 500; font-size: 17px; line-height:129%; letter-spacing: 0.035em;">There is freshly brewed coffee and tea available first thing in the morning, and we have Keurig coffee machines available throughout the day.
          We are trying to be kind to the environment and compost with Impact Earth (www.impactearthroc.com)</p>
      </div>
    </div>
    <div class="flex-1 items-center mx-auto">
      <h2 style="font-family: 'Playfair Display', serif; font-size:25px; font-weight: 500; letter-spacing: 0.035em;">Amenities for those staying with us</h2>     
        <div class="text-center justify-center">
          <div class="px-2 py-2 flex mb-4">
            <div class="w-1/2">
              <img class="mx-auto" src="assets/image 6.png">
              <p>Central Heating/AC</p>
            </div>
            <div class="w-1/2">
              <img class="mx-auto" src="assets/image 7.png">
              <p>Free WiFi</p>
            </div>
          </div>
          <div class="flex mb-4">
            <div class="w-1/2">
              <img class="mx-auto" src="assets/image 8.png">
              <p>Daily Coffee & Tea</p>
            </div>
            <div class="w-1/2">
              <img class="mx-auto" src="assets/image 9.png">
              <p>Cable TV</p>
            </div>
          </div>
          <div class="flex mb-4">
            <div class="w-full">
              <img class="mx-auto" src="assets/image 10.png">
              <p>Low Waste Toiletries</p>
            </div>
          </div>
        </div>
    </div>
  </section>
    <!-- Break Section -->
  <section class="hidden md:flex flex-col min-h-[45vh] bg-slate-800 text-white bg-center bg-cover bg-blend-overlay bg-fixed bg-black/30" style="background-image: url('assets/bg.png')">
    <!-- Break Section Content -->
    <div class="flex-1 flex items-center">
      <div class="text-center mx-auto">
        <h1 style="font-family:'Playfair Display', serif; font-size: 32pt; text-transform: uppercase; letter-spacing:0.13em">Welcome to Your Home Away From Home at</h1>
        <h1 style="font-family:'Playfair Display', serif; font-size: 64pt; letter-spacing:0.13em">The Yorkshire Inn!</h1>
        <a class="px-5 py-2 inline-block bg-transparent outline outline-1 text-white hover:bg-gray-600 transition-colors mt-10 mx-px" href="">
          <p style="font-family: 'Martel', serif; font-weight: 400; font-size: 20px; line-height:34px; letter-spacing: 0.13em;">Stay With Us</p>
          <p style="font-family: 'Inter', sans-serif; font-weight: 700; font-size: 10px; letter-spacing: 0.205em; text-transform: uppercase;">Book Now</p>
        </a>
      </div>
    </div>
  </section>
    <!-- Room Section -->
  <section>
      
  </section> 
</MainLayout>
</html>
