---
import MainLayout from "../layouts/MainLayout.astro";
import DateRangeSelector from "../components/organisms/dateRangeSelector";
import RoomAvailabilityDateRangeSelector from "../components/organisms";
---

<MainLayout title="Yorkshire Inn - Booking" activePage="about">
  <section>
    <div class="text-black">
      <h2 class="text-2xl font-bold my-4 mx-8">
        Welcome to the Start of your cozy stay
      </h2>
      <p class="mx-8 my-4">
        We're thrilled that you're considering a stay with us, and we can't wait
        to help make your trip unforgettable. Our charming accommodations offer
        a comfortable and relaxing atmosphere, with all the amenities you need
        to feel right at home. Whether you're here for a weekend getaway or an
        extended stay, we're confident that you'll love our unique blend of
        comfort and hospitality. Please select your desired dates below to start
        your booking process.
      </p>
    </div>
    <div class="flex flex-1 items-center justify-center mb-8">
      <RoomAvailabilityDateRangeSelector client:only="react" />
    </div>
    <!-- EXAMPLE ROOM RESULT -->
  </section>
</MainLayout>
